<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>940377063893-kprb1q80v55aa5litocnvdr6hrq639qs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940377063893-kprb1q80v55aa5litocnvdr6hrq639qs</string>
	<key>API_KEY</key>
	<string>AIzaSyBbXTWYuwolMldORdiP4_W6EKm5hrCXrKM</string>
	<key>GCM_SENDER_ID</key>
	<string>940377063893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SSG.RTPS</string>
	<key>PROJECT_ID</key>
	<string>ssg-rtps</string>
	<key>STORAGE_BUCKET</key>
	<string>ssg-rtps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940377063893:ios:5bd0d473b61ae6f8</string>
	<key>DATABASE_URL</key>
	<string>https://ssg-rtps.firebaseio.com</string>
</dict>
</plist>